# RStudio session files
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Quarto working files
/.quarto/
**/*.quarto_ipynb

# Operating-system files
.DS_Store
Thumbs.db

# Research data and working GIS files
*.xlsx
*.xls
*.csv
*.gpkg
*.qgs
*.qgz
*.tif
*.tiff
*.ai
*.7z